.footer {
    padding: 5.6rem 3.3rem;
    min-height: 53.9rem;
    width: 100%;
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $white;

    &__social {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 3.2rem;
        margin-bottom: 4.9rem;
    }


    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        ul {
            li {

                a {
                    display: inline-block;
                    text-align: center;
                    font-weight: 700;
                    font-size: $fs-xs;
                    line-height: $lh-xs;
                    letter-spacing: $ls-xs;
                    color: $white;
                    text-transform: uppercase;
                }

            }

            li:nth-of-type(n+1) {
                padding-top: 1.9rem;
            }
        }
    }

    .copyright {
        a {
            display: inline-block;
            width: 100%;
            padding: 3rem;
            position: relative;
            color: $white;
            font-size: $fs-xs;
            line-height: 1.562rem;
            letter-spacing: $ls-xs;
            font-weight: 700;

            &::after {
                content: '';
                display: block;
                width: 4.2rem;
                height: 100%;
                position: absolute;
                // transform: translateY(-50%);
                top: 0rem;
                left: 65%;
                background-image: url(/images/shared/desktop/arrow.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;

            }
        }

        p {
            font-size: $fs-b;
            line-height: 1.953rem;
            font-weight: 400;
            text-align: center;
            opacity: 50%;
            color: $white;
        }

    }

}